extends layout

block content
  .container.text-center
    h1= poll.title
    br
    .jumbotron.align-center.text-left
      p <strong>Admin URL: </strong>
        a(href=poll.adminUrl) #{poll.adminUrl}
      p <strong>Vote URL: </strong>
        a(href=poll.voteUrl) #{poll.voteUrl}
  .container
    input(type='button', name="close-poll", value="Close Poll").btn.btn-danger#close-poll

